<!-- @for (movie of allMovies; track movie.Title) {
<app-card title="{{ movie.Title }}" image="{{ movie.imageURL }}"></app-card> -->

<!-- <--
<div class="movie-list-container">
  @for (movie of allMovies; track $index) {
  <app-card
    [Title]="movie.Title"
    [imageURL]="movie.imageURL"
    [rating]="movie.rating"
    [discription]="movie.discription"
  ></app-card>
  }
</div> -->

<div class="controls">
  <button
    (click)="toggle()"
    mat-fab
    aria-label=" delete icon"
    style="color: primary"
  >
    <mat-icon>menu</mat-icon>
  </button>
</div>
<div>
  @if(controls) {
  <div>
    <div class="addbutton">
      <button (click)="toggleAddMovie()">Add Movie</button>
    </div>
    <div>
      @if(showAddMovie){
      <app-addmovie [singleMovie]="movieData"></app-addmovie>
      }
    </div>
  </div>
  <div class="Deletebutton">
    <button (click)="toggleDeleteMovie()">Delete Movie</button>
  </div>
  <div>
    @if(showDeleteMovie){
    <app-deletemovie [movieData]="movieData"></app-deletemovie>
    }
  </div>
  }

  <app-movie-list [allMovies]="movieData" />
</div>

<!-- <nav>
  |
  <a routerLink="/movies">movies</a>
  |
  <a routerLink="/color">colorgame</a>
</nav>
<router-outlet /> -->
