.movie-list-container {
  margin: 100px;
  display: flex;
  gap: 3rem;
  margin: 40px 80px;
  justify-content: space-evenly;
}

button {
  background-color: rgb(7, 192, 249);
  color: white;
  width: 143px;
  height: 55px;
  border-radius: 10px;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  cursor: pointer;
  margin-bottom: 10px;
}

.addbutton {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}
.Deletebutton {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.controls {
  display: flex;
  justify-content: flex-end;
}

.controls button {
  color: black;
  font-size: 20px;
  cursor: pointer;
  background: none;
  border: none;
  box-shadow: none;
}
